*{
    margin: 0%;
}
.task-bg{
    width: 1250px;
    height: 100%;
    /* border: 1px solid red; */
    background-image: url('./Images/bg-2.png');
    background-size: 100%;
    /* margin-top: 8px; */
    border-radius: 6px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding-top: 10%; */
}
.task-bg-new{
width: 1450px;
    height: 100%;
    /* border: 1px solid red; */
    background-image: url('./Images/bg-2.png');
    background-size: 100%;
    /* margin-top: 8px; */
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transition: 0.45s;
}
.task-01{
    width: 50%;
    height: 8%;
    display: flex;
    align-items: center;
    border: 1px solid red;
    background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 120px;
}
.task-01 input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1rem;
}